<div class="w-full flex flex-col justify-between">
  <div class="flex flex-col justify-center items-center py-10 w-full">
    <h5 class="text-center">Welcome to BSIS - The Blood Safety Information System</h5>
    <div class="grid grid-cols-1 my-5 gap-y-10 max-w-[1000px] sm:grid-cols-2 md:grid-cols-3">
      <div class="flex justify-center items-center" *ngFor="let item of navItems">
        <a [href]="item.route" class="flex flex-col justify-center items-center">
          <div
            class="flex rounded-full w-[120px] my-2 h-[120px] justify-center items-center bg-[var(--mat-sys-secondary-container)]">
            <mat-icon style="width: 50px; height: 50px;"
                      [svgIcon]="item.name"></mat-icon>
          </div>
          <h5>{{ item.name }}</h5>
          <div class="text-center px-5 text-sm">{{ item.description }}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center mb-5 text-xs w-full py-5">
    <div class="">©2014-2025<a class="text-[var(--mat-sys-primary)]" href="https://www.habtechsolution.com/">Habtech Solutions</a></div>
    <div class="">Version: 1.4.0 / 1.4.0 | Build: a207fe /</div>
  </div>
</div>
