
.header{
  background: var(--mat-sys-secondary-container);
  margin:0;
}
.avatar-button {
  background-color: var(--mat-tertiary-container-color, #EADDFF);

}

.avatar-letter{
  color: var(--mat-on-tertiary-container-color, #1D192B);
}
