<form class="example-form">
  <div class="flex flex-col gap-5 px-10">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>{{ label }}</mat-label>
    <ng-container *ngIf="!multiline; else textareaField">
      <input
        matInput
        [type]="type"
        [placeholder]="placeholder"
        [value]="value"
      />
    </ng-container>

    <ng-template #textareaField>
    <textarea
      matInput
      [placeholder]="placeholder"
      [value]="value"
    ></textarea>
    </ng-template>
  </mat-form-field>

  </div>
</form>
