<main class="main h-screen">
  <app-header
    [headerTitle]="headerTitle"
    [rightMenu]="rightMenu"
    [mobileNavItems]="currentNavItems"
    />
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer
                class="example-sidenav"
                [mode]="isMobile ? 'over' : 'side'"
                opened="true"
                [ngClass]="{ 'sidenav-collapsed': !isSidenavExpanded }">
      <app-sidebar
        [navigationItems]="currentNavItems"
        [isExpanded]="isSidenavExpanded"
        [currentPage]="currentPage"
        (toggleSidenav)="toggleSidenav()"
      />
    </mat-drawer>
    <div class="example-sidenav-content flex flex-col gap-y-10 min-h-screen">
<!--      <app-date-range-picker-->
<!--        label="Select Date Range"-->
<!--        [(startDate)]="rangeStart"-->
<!--        (startDateChange)="handleStartDateChange($event)"-->
<!--        (endDateChange)="handleEndDateChange($event)"-->
<!--      >-->
<!--      </app-date-range-picker>-->
<!--        <app-input-field-->
<!--          type="password"-->
<!--          label="Password"-->
<!--          placeholder="Password"-->
<!--        >-->

<!--        </app-input-field>-->
      <!--      <app-button-->
<!--        label="Click Me!"-->
<!--        variant="stroked"-->
<!--        [disabled]="exampleButtonDisabled"-->
<!--        (action)="logSomething()"-->
<!--      >-->
<!--      </app-button>-->
    </div>
  </mat-drawer-container>
</main>
<router-outlet/>
