html,body{
  margin:0;
  padding:0;
  min-height: 100vh;
}

.example-container {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

$sidenav-expanded-width: 260px;
$sidenav-collapsed-width: 60px;

.example-sidenav {
  width: $sidenav-expanded-width;
  overflow-x: hidden;
  transition: all 2s ease-in-out;
  border: none ;
  border-radius: 0;
  &.sidenav-collapsed {
    width: $sidenav-collapsed-width;
  }
}

.example-sidenav-content {
  overflow-x: hidden;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-left: 1px solid #dee2e6; // <-- ADD this line (adjust color/style as needed)
}


.example-sidenav-content {
  height: 100%;
  overflow-y: hidden;
}



