html,body{
  margin:0;
  padding:0;
}


.example-container {
  display: flex;
  min-height: 100vh;
  flex-grow: 1;
}

$sidenav-expanded-width: 260px;
$sidenav-collapsed-width: 60px;

.example-sidenav {
  border-radius: 0;
  flex: 0 0 $sidenav-expanded-width;
  overflow-x: hidden;
  transition: all 2s ease-in-out;
  &.sidenav-collapsed {
    width: $sidenav-collapsed-width;
  }
}

.example-sidenav-content {
  min-height: 100vh;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}



@media (max-width: 768px) {
  .example-sidenav {
    display: none;
  }
}




