<main class="main">
  <app-header [headerTitle]="headerTitle" [rightMenu]="rightMenu"/>
  <div class="content">
      <h1 class="">Hello, {{ title }}</h1>
    </div>
    <app-alerts [message]= "'Profile updated successfully!'" [type]="'success'"></app-alerts>
    <app-dropdown [label]="'Select'" [options]="['Pending', 'Approved', 'Rejected']"></app-dropdown>
    <app-table
    [columns]="['Date', 'Blood_Group', 'Units_Requested', 'Requested_Date', 'Status']"
    [columnHeaders]="['Date', 'Blood Group', 'Units Requested', 'Requested Date', 'Status']"
     [dataSource]="[
    { Date: '02/04/2025', Blood_Group: 'AB+', Units_Requested: '4', Requested_Date: '04/02/2024', Status: 'Approved'},
    { Date: '02/04/2025', Blood_Group: 'A+', Units_Requested: '4', Requested_Date: '04/02/2024', Status: 'Approved'},
    { Date: '02/04/2025', Blood_Group: 'B-', Units_Requested: '4', Requested_Date: '04/02/2024', Status: 'Approved'},
    { Date: '02/04/2025', Blood_Group: 'O+', Units_Requested: '4', Requested_Date: '04/02/2024', Status: 'Approved'},
  ]"></app-table>
    
    
  
</main>


<router-outlet />
