<main class="main h-screen">
  <app-header [headerTitle]="headerTitle" [rightMenu]="rightMenu"/>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer
                class="example-sidenav"
                mode="side"
                opened="true"
                [ngClass]="{ 'sidenav-collapsed': !isSidenavExpanded }">
      <app-sidebar
        [navigationItems]="currentNavItems"
        [isExpanded]="isSidenavExpanded"
        (toggleSidenav)="toggleSidenav()"
      />
    </mat-drawer>
    <div class="example-sidenav-content flex flex-col gap-y-10 min-h-screen">
    </div>
  </mat-drawer-container>
</main>
<router-outlet/>
