// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "tailwindcss";
@use '@angular/material' as mat;
@use "app/bsis_theme-colors" as bsis-theme;


html{
color-scheme: light;
@include mat.theme((
  color: bsis-theme.$primary-palette,
  typography: Roboto,
  density: 0,
), $overrides:(
    primary-container: #001e30,
));
}



html, body {
  height: 100%;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
  @include mat.theme-overrides((
    primary: var(--mat-sys-error),
    on-primary: var(--mat-sys-on-error),
  ));
}

.success {
  @include mat.theme-overrides((
    primary: var(-mat),
    on-primary: var(--mat-sys-on-error)
  ));
}

