// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "tailwindcss";
@use '@angular/material' as mat;
@use "app/bsis_theme-colors" as bsis-theme;

@include mat.core();
@include mat.app-background();
@include mat.elevation-classes();
@include mat.typography-hierarchy(
    mat.define-theme(
        (
          typography: (
            use-system-variables: true,
            system-variables-prefix: mat-sys,
          ),
        )
    )
);
:root {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: bsis-theme.$primary-palette,
    ),
    typography: Roboto,
    density: 0,
  ),
  $overrides: (
    secondary-container: #001e30,
  )
  );
}


html, body {
  height: 100%;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  @include mat.theme-overrides((
    primary: var(--mat-sys-error),
    on-primary: var(--mat-sys-on-error),
  ));
}

$sidenav-expanded: 260px;
$sidenav-collapsed: 60px;

mat-drawer-container.example-container {
  display: flex !important;
}

mat-drawer.example-sidenav {
  flex: 0 0 $sidenav-expanded !important;
  transition: flex-basis 0.3s ease !important;
  overflow: hidden !important;

  &.sidenav-collapsed {
    flex-basis: $sidenav-collapsed !important;
  }
}

mat-drawer-content.example-content {
  flex: 1 1 auto !important;
  display: flex !important;
  flex-direction: column;
}

.inner-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #dee2e6;
  overflow: auto;
}

@media (max-width: 768px) {
  mat-drawer.example-sidenav {
    display: none !important;
  }
}



