// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "tailwindcss";
@use '@angular/material' as mat;
@use "app/bsis_theme-colors" as bsis-theme;


@include mat.app-background();
@include mat.elevation-classes();
@include mat.typography-hierarchy(
    mat.define-theme(
        (
          typography: (
            use-system-variables: true,
            system-variables-prefix: mat-sys,
          ),
        )
    )
);
:root {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: bsis-theme.$primary-palette,
    ),
    typography: Roboto,
    density: 0,
  ),
  $overrides: (
    primary-container: #001e30,
  )
  );
}


html, body {
  height: 100%;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  @include mat.theme-overrides((
    primary: var(--mat-sys-error),
    on-primary: var(--mat-sys-on-error),
  ));
}


