table {
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    border: #C1C7CE;
}
  
th, td {
    padding: 12px;
    text-align: left;
    border: none;
}

  
